# Django
SECRET_KEY=colocar_clave_segura
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Azure Blob Storage
AZURE_ACCOUNT_NAME=nombre_cuenta_azure
AZURE_ACCOUNT_KEY=clave_azure
AZURE_CONTAINER=media

# OCI Autonomous Database
ORACLE_USER=ADMIN
ORACLE_PASSWORD=clave_base_datos
ORACLE_DSN=nombre_servicio_low_medium_high
ORACLE_WALLET_PATH=wallet
ORACLE_WALLET_PASSWORD=clave_wallet